// Navigation code here

.navigation {

    color: #22283B;
    background: @nav-bg;
    padding: 20px 0;
    border: 1px double @nav-border;
    h1 {
        text-align: center;
    }
    nav {
        @media @phone {
            margin: 3% 13% 0 13%;
        }
        display: flex;
        justify-content: space-between;
        margin: 3% 25% 0 25%;
        a {
            font-size: 14px;
            color: @river-bend;
            text-decoration: none;
        }
        a:hover {
        text-decoration: underline;
        }
    }
}
    